DATABASE_URL=postgresql://postgres:PASS@localhost:5432/stojan_shop
PORT=4000
NODE_ENV=development
JWT_SECRET=your-jwt-secret
STRIPE_SECRET_KEY=sk_test_...
STRIPE_WEBHOOK_SECRET=whsec_y...
ALLEGRO_CLIENT_ID=
ALLEGRO_CLIENT_SECRET=
ALLEGRO_REDIRECT_URI=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=eu-north-1
AWS_S3_BUCKET=stojan
ADMIN_USER=admin
ADMIN_PASS=
ADMIN_JWT_SECRET=wygeneruj-losowy-string-64-znakow
CDN_URL=https://cdn.stojan-shop.pl
ANTHROPIC_API_KEY=sk-ant-xxx
FRONTEND_URL=https://app-reactapp.ngrok.app
ADMIN_EMAIL_1=karolleszczynskikorektor@gmail.com
ADMIN_EMAIL_2=kontakt@webcopywriting.pl
SHOP_URL=https://www.silniki-elektryczne.com.pl
SILNIK_REBUILD_URL=https://6jnlnd2u7sl6hij6wwoo5bv3he0knonh.lambda-url.eu-north-1.on.aws/
SILNIK_REBUILD_SECRET=ZMIEN-NA-LOSOWY-SECRET-

# Credentials z FedEx Developer Portal (projekt Ship, Rate & other APIs)
FEDEX_CLIENT_ID=l7ff017c1d29424b7ab4bc0bf64f40a7c3
FEDEX_CLIENT_SECRET=
FEDEX_ACCOUNT_NUMBER=800717485

# Sandbox (testowy):
FEDEX_API_URL=https://apis-sandbox.fedex.com
# Production (po testach odkomentuj):
# FEDEX_API_URL=https://apis.fedex.com

# Max waga dla FedEx (kg) — powyżej = inna firma
FEDEX_MAX_WEIGHT_KG=36.5

# Serwis FedEx (intra-EU z Polski)
FEDEX_SERVICE_TYPE=FEDEX_REGIONAL_ECONOMY

# Nadawca — Stojan
FEDEX_SHIPPER_COMPANY=Stojan S.C.
FEDEX_SHIPPER_PERSON=Stojan S.C.
FEDEX_SHIPPER_PHONE=500385112
FEDEX_SHIPPER_EMAIL=stojan@silniki-elektryczne.com.pl
FEDEX_SHIPPER_STREET=Wojewódzka 2
FEDEX_SHIPPER_CITY=Pigża
FEDEX_SHIPPER_POSTAL=87-152
FEDEX_SHIPPER_COUNTRY=PL


DHL_USERNAME=
DHL_PASSWORD=
DHL_SAP=
DHL_WSDL_URL=https://dhl24.com.pl/webapi2/provider/service.html?ws=1
DHL_SHIPPER_NAME=Stojan S.C.
DHL_SHIPPER_POSTAL=87152
DHL_SHIPPER_CITY=Pigża
DHL_SHIPPER_STREET=Wojewódzka
DHL_SHIPPER_HOUSE=2
DHL_SHIPPER_CONTACT=Stojan S.C.
DHL_SHIPPER_PHONE=500385112
DHL_SHIPPER_EMAIL=stojan@silniki-elektryczne.com.pl

WN_API_URL=https://api.wysylajnami.pl
WN_API_KEY=<klucz od wysylajnami>
WN_EMAIL=<twoj email w wysylajnami>
WN_PASSWORD=<twoje haslo w wysylajnami>
WN_COURIER_ID=5

INTEGRATION_API_KEY=losowy-klucz-32-znaki