DATABASE_URL=postgresql://postgres:PASS@localhost:5432/stojan_shop
PORT=4000
NODE_ENV=development
JWT_SECRET=your-jwt-secret
STRIPE_SECRET_KEY=sk_test_...
STRIPE_WEBHOOK_SECRET=whsec_y...
ALLEGRO_CLIENT_ID=
ALLEGRO_CLIENT_SECRET=
ALLEGRO_REDIRECT_URI=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=eu-north-1
AWS_S3_BUCKET=stojan
ADMIN_USER=admin
ADMIN_PASS=
ADMIN_JWT_SECRET=wygeneruj-losowy-string-64-znakow
CDN_URL=https://cdn.stojan-shop.pl
ANTHROPIC_API_KEY=sk-ant-xxx
FRONTEND_URL=https://app-reactapp.ngrok.app
ADMIN_EMAIL_1=karolleszczynskikorektor@gmail.com
ADMIN_EMAIL_2=kontakt@webcopywriting.pl
SHOP_URL=https://www.silniki-elektryczne.com.pl
SILNIK_REBUILD_URL=https://6jnlnd2u7sl6hij6wwoo5bv3he0knonh.lambda-url.eu-north-1.on.aws/
SILNIK_REBUILD_SECRET=ZMIEN-NA-LOSOWY-SECRET-